{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Ville</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Ville</th>
                <td>{{ entity.ville }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('ville') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('ville_edit', { 'id': entity.ville }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
